*{
margin: 0;;
padding: 0;;
box-sizing: border-box;
}
.score {
  position: absolute;
  top: 30px;
  left: 0;
  font-size: x-large;
}
.game-board {

    width: 100%;
    height: 500px;
    border-bottom: 14px solid #08ad53;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(#87CEEB, #E0F6FF);
}
.pipe{
position: absolute;
bottom: 0;
width: 80px;
animation: pipe-animation 1.5s infinite linear;

}
.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}


.jump {
    animation: jump-mario 600ms ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}
/* Animação do tubo, que é a imagem "PIPE" */
@keyframes pipe-animation {
 /*  inicio*/
    from {
right: -80px;

    }
    /* fim da animação */
    to {
        right: 100%;
    }
}

/* Animação do pulo do mario */
@keyframes jump-mario {

    /* inicio */
0% {
    bottom: 0;
}
 /* intermediarios */

40% {
    bottom: 150px;
}

 50% {

    bottom: 150px;
 }  
 60% {

    bottom: 160px;
 }  
 /* E fim da animação*/
 100% {
    bottom: 0;
 }
 

}

/* Animação das nuvens */
@keyframes clouds-animation {
    
    from {
        right: -550px;
    }

    to{
right: 100%;
    }
}
